.practice-section {
    background-color: #f8f9fa;  
    padding: 30px 100px;  
}

.practice-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;  
    color: #555;  
}


.practice-container {
    background-color: #fff;  
    border-radius: 4;     
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);  
    padding: 20px;  
    display: flex;  
    justify-content: space-between;  
    max-width: 1200px;  
    margin: 0 auto;  
} 

